.Kitten{
    width: 200px;
    border: 1px solid;
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.Kitten > h1{
    color: green;
}
.Kitten > img { 
    width: 100%;
}